In [11]:
import pandas as pd

df = pd.read_excel('facefats_RTs.xlsx')
df = df.sort_values('Lipid')
df

                          Lipid    RT
4             [TG(50:3)]_FA18:1  13.7
0             [TG(51:6)]_FA16:1  11.1
1             [TG(52:5)]_FA16:1  12.4
5             [TG(52:6)]_FA18:1  11.2
6             [TG(52:7)]_FA18:1  15.7
7             [TG(54:5)]_FA18:1  13.7
8             [TG(54:6)]_FA18:1  12.5
9   [TG(55:10)|TG(54:3)]_FA18:1  16.0
2   [TG(55:11)|TG(54:4)]_FA16:1  14.8
10  [TG(55:11)|TG(54:4)]_FA18:1  14.8
11   [TG(55:8)|TG(54:1)]_FA18:1  16.9
12   [TG(55:9)|TG(54:2)]_FA18:1  15.6
13  [TG(56:10)|TG(55:3)]_FA18:1  16.6
14  [TG(56:11)|TG(55:4)]_FA18:1  15.4
15            [TG(56:6)]_FA18:1  13.7
3             [TG(56:7)]_FA16:1  12.3
16            [TG(56:7)]_FA18:1  13.5
17  [TG(57:10)|TG(56:3)]_FA18:1  17.0
18  [TG(57:11)|TG(56:4)]_FA18:1  15.9
19  [TG(57:12)|TG(56:5)]_FA18:1  14.7
20   [TG(57:9)|TG(56:2)]_FA18:1  18.3
21            [TG(58:7)]_FA18:1  13.5
22  [TG(59:11)|TG(58:4)]_FA18:1  17.0
23  [TG(59:12)|TG(58:5)]_FA18:1  16.0
24  [TG(59:13)|TG(58:6)]_FA18:1  15.0

In [18]:
# Function to reformat the Lipid column
def reformat_lipid(lipid):
    # Split at the '_'
    parts = lipid.split('_')
    tg_part = parts[0]
    fa_part = parts[1] if len(parts) > 1 else ""

    # Replace '|' with ',' and remove extra brackets
    tg_part = tg_part.replace('|', ',').replace(']', '').replace('[', '')

    return f"[{tg_part}]_{fa_part}"

# Apply the reformatting function to the Lipid column
df['Lipid'] = df['Lipid'].apply(reformat_lipid)


# Function to remove the last parenthesis in the Lipid column
def remove_last_parenthesis(lipid):
    return lipid.replace("))", ")")

# Apply the function to the Lipid column
df['Lipid'] = df['Lipid'].apply(remove_last_parenthesis)

#redo the index
df = df.reset_index(drop=True)
df

                          Lipid    RT  Match
0             [TG(50:3)]_FA18:1  13.7   True
1             [TG(51:6)]_FA16:1  11.1   True
2             [TG(52:5)]_FA16:1  12.4   True
3             [TG(52:6)]_FA18:1  11.2  False
4             [TG(52:7)]_FA18:1  15.7  False
5             [TG(54:5)]_FA18:1  13.7   True
6             [TG(54:6)]_FA18:1  12.5   True
7   [TG(55:10),TG(54:3)]_FA18:1  16.0   True
8   [TG(55:11),TG(54:4)]_FA16:1  14.8   True
9   [TG(55:11),TG(54:4)]_FA18:1  14.8   True
10   [TG(55:8),TG(54:1)]_FA18:1  16.9   True
11   [TG(55:9),TG(54:2)]_FA18:1  15.6   True
12  [TG(56:10),TG(55:3)]_FA18:1  16.6   True
13  [TG(56:11),TG(55:4)]_FA18:1  15.4   True
14            [TG(56:6)]_FA18:1  13.7   True
15            [TG(56:7)]_FA16:1  12.3  False
16            [TG(56:7)]_FA18:1  13.5  False
17  [TG(57:10),TG(56:3)]_FA18:1  17.0   True
18  [TG(57:11),TG(56:4)]_FA18:1  15.9   True
19  [TG(57:12),TG(56:5)]_FA18:1  14.7   True
20   [TG(57:9),TG(56:2)]_FA18:1  18.3   True
21            [TG(58:7)]_FA18:1  13.5  False
22  [TG(59:11),TG(58:4)]_FA18:1  17.0   True
23  [TG(59:12),TG(58:5)]_FA18:1  16.0   True
24  [TG(59:13),TG(58:6)]_FA18:1  15.0   True

In [16]:
df.to_csv('FF_Cait_RTs.csv', index=False)

In [19]:
lipids = [
    "[TG(42:2)]_FA18:1 | DG(44:9),DG(43:2)_C18:1",
    "[TG(45:3)]_FA16:1",
    "[TG(45:4)]_FA16:1",
    "[TG(50:3)]_FA18:1",
    "[TG(51:6)]_FA16:1",
    "[TG(52:5)]_FA16:1",
    "[TG(52:6)]_FA18:2",
    "[TG(53:6)]_FA18:1",
    "[TG(54:5)]_FA18:1",
    "[TG(54:6)]_FA18:1",
    "[TG(55:10),TG(54:3)]_FA18:1",
    "[TG(55:11),TG(54:4)]_FA16:1",
    "[TG(55:11),TG(54:4)]_FA18:1",
    "[TG(55:8),TG(54:1)]_FA18:1",
    "[TG(55:9),TG(54:2)]_FA18:1",
    "[TG(56:10),TG(55:3)]_FA18:1",
    "[TG(56:11),TG(55:4)]_FA18:1",
    "[TG(56:6)]_FA18:1",
    "[TG(56:7),TG(55:0)]_FA16:1",
    "[TG(56:7),TG(55:0)]_FA18:1",
    "[TG(57:10),TG(56:3)]_FA18:1",
    "[TG(57:11),TG(56:4)]_FA18:1",
    "[TG(57:12),TG(56:5)]_FA18:1",
    "[TG(57:9),TG(56:2)]_FA18:1",
    "[TG(58:7),TG(57:0)]_FA18:1",
    "[TG(59:11),TG(58:4)]_FA18:1",
    "[TG(59:12),TG(58:5)]_FA18:1",
    "[TG(59:13),TG(58:6)]_FA18:1"
]

def match_lipids(row, lipids_list):
    for lipid in lipids_list:
        # Split the lipid string into individual components
        components = lipid.split('|')
        # Check if any component matches the row's lipid
        if any(row['Lipid'] in comp for comp in components):
            return True
    return False

# Apply the function to each row in the DataFrame
df['Match'] = df.apply(match_lipids, args=(lipids,), axis=1)

# Filter to show only the matching rows
matching_rows = df[df['Match'] == True]

matching_rows

                          Lipid    RT  Match
0             [TG(50:3)]_FA18:1  13.7   True
1             [TG(51:6)]_FA16:1  11.1   True
2             [TG(52:5)]_FA16:1  12.4   True
5             [TG(54:5)]_FA18:1  13.7   True
6             [TG(54:6)]_FA18:1  12.5   True
7   [TG(55:10),TG(54:3)]_FA18:1  16.0   True
8   [TG(55:11),TG(54:4)]_FA16:1  14.8   True
9   [TG(55:11),TG(54:4)]_FA18:1  14.8   True
10   [TG(55:8),TG(54:1)]_FA18:1  16.9   True
11   [TG(55:9),TG(54:2)]_FA18:1  15.6   True
12  [TG(56:10),TG(55:3)]_FA18:1  16.6   True
13  [TG(56:11),TG(55:4)]_FA18:1  15.4   True
14            [TG(56:6)]_FA18:1  13.7   True
17  [TG(57:10),TG(56:3)]_FA18:1  17.0   True
18  [TG(57:11),TG(56:4)]_FA18:1  15.9   True
19  [TG(57:12),TG(56:5)]_FA18:1  14.7   True
20   [TG(57:9),TG(56:2)]_FA18:1  18.3   True
22  [TG(59:11),TG(58:4)]_FA18:1  17.0   True
23  [TG(59:12),TG(58:5)]_FA18:1  16.0   True
24  [TG(59:13),TG(58:6)]_FA18:1  15.0   True

In [17]:
matching_rows.to_csv('FF_Cait_RTs_matching.csv', index=False)

In [20]:
df_add = pd.read_csv('FF_Cait_RTs_added.csv')
df_add

                          Lipid    RT  Match
0             [TG(50:3)]_FA18:1  13.7   True
1             [TG(51:6)]_FA16:1  11.1   True
2             [TG(52:5)]_FA16:1  12.4   True
3             [TG(52:6)]_FA18:1  11.2  False
4             [TG(52:7)]_FA18:1  15.7  False
5             [TG(54:5)]_FA18:1  13.7   True
6             [TG(54:6)]_FA18:1  12.5   True
7   [TG(55:10),TG(54:3)]_FA18:1  16.0   True
8   [TG(55:11),TG(54:4)]_FA16:1  14.8   True
9   [TG(55:11),TG(54:4)]_FA18:1  14.8   True
10   [TG(55:8),TG(54:1)]_FA18:1  16.9   True
11   [TG(55:9),TG(54:2)]_FA18:1  15.6   True
12  [TG(56:10),TG(55:3)]_FA18:1  16.6   True
13  [TG(56:11),TG(55:4)]_FA18:1  15.4   True
14            [TG(56:6)]_FA18:1  13.7   True
15   [TG(56:7),TG(55:0)]_FA16:1  12.3  False
16   [TG(56:7),TG(55:0)]_FA18:1  13.5  False
17  [TG(57:10),TG(56:3)]_FA18:1  17.0   True
18  [TG(57:11),TG(56:4)]_FA18:1  15.9   True
19  [TG(57:12),TG(56:5)]_FA18:1  14.7   True
20   [TG(57:9),TG(56:2)]_FA18:1  18.3   True
21   [TG(58:7),TG(57:0)]_FA18:1  13.5  False
22  [TG(59:11),TG(58:4)]_FA18:1  17.0   True
23  [TG(59:12),TG(58:5)]_FA18:1  16.0   True
24  [TG(59:13),TG(58:6)]_FA18:1  15.0   True

In [23]:
# Apply the function to each row in the DataFrame
df_add['Match'] = df_add.apply(match_lipids, args=(lipids,), axis=1)
# Filter to show only the matching rows
matching_rows = df_add[df_add['Match'] == True]

matching_rows

                          Lipid    RT  Match
0             [TG(50:3)]_FA18:1  13.7   True
1             [TG(51:6)]_FA16:1  11.1   True
2             [TG(52:5)]_FA16:1  12.4   True
5             [TG(54:5)]_FA18:1  13.7   True
6             [TG(54:6)]_FA18:1  12.5   True
7   [TG(55:10),TG(54:3)]_FA18:1  16.0   True
8   [TG(55:11),TG(54:4)]_FA16:1  14.8   True
9   [TG(55:11),TG(54:4)]_FA18:1  14.8   True
10   [TG(55:8),TG(54:1)]_FA18:1  16.9   True
11   [TG(55:9),TG(54:2)]_FA18:1  15.6   True
12  [TG(56:10),TG(55:3)]_FA18:1  16.6   True
13  [TG(56:11),TG(55:4)]_FA18:1  15.4   True
14            [TG(56:6)]_FA18:1  13.7   True
15   [TG(56:7),TG(55:0)]_FA16:1  12.3   True
16   [TG(56:7),TG(55:0)]_FA18:1  13.5   True
17  [TG(57:10),TG(56:3)]_FA18:1  17.0   True
18  [TG(57:11),TG(56:4)]_FA18:1  15.9   True
19  [TG(57:12),TG(56:5)]_FA18:1  14.7   True
20   [TG(57:9),TG(56:2)]_FA18:1  18.3   True
21   [TG(58:7),TG(57:0)]_FA18:1  13.5   True
22  [TG(59:11),TG(58:4)]_FA18:1  17.0   True
23  [TG(59:12),TG(58:5)]_FA18:1  16.0   True
24  [TG(59:13),TG(58:6)]_FA18:1  15.0   True

In [3]:
import pandas as pd
import re

# Assuming your DataFrame is named 'df'
# Replace 'df' with the actual name of your DataFrame

# Regular expression for TG patterns
tg_pattern = r'TG\(\d+:\d+\)'

# Function to extract TG patterns
def extract_tg_patterns(lipid):
    return re.findall(tg_pattern, lipid)

# Create a list to store all TG patterns
all_tg_patterns = []

# Iterate over each entry in the Lipid column and extract TG patterns
for lipid in df['Lipid']:
    tg_matches = extract_tg_patterns(lipid)
    all_tg_patterns.extend(tg_matches)

# Remove duplicates by converting the list to a set, then back to a list
unique_tg_patterns = list(set(all_tg_patterns))

unique_tg_patterns

['TG(55:4)',
 'TG(54:4)',
 'TG(55:11)',
 'TG(52:5)',
 'TG(57:11)',
 'TG(55:8)',
 'TG(57:12)',
 'TG(56:7)',
 'TG(59:13)',
 'TG(54:6)',
 'TG(54:2)',
 'TG(57:9)',
 'TG(52:7)',
 'TG(56:2)',
 'TG(57:10)',
 'TG(58:5)',
 'TG(55:10)',
 'TG(56:4)',
 'TG(59:12)',
 'TG(59:11)',
 'TG(55:9)',
 'TG(54:3)',
 'TG(54:5)',
 'TG(52:6)',
 'TG(55:3)',
 'TG(50:3)',
 'TG(58:4)',
 'TG(54:1)',
 'TG(51:6)',
 'TG(56:5)',
 'TG(56:10)',
 'TG(58:6)',
 'TG(56:6)',
 'TG(56:3)',
 'TG(58:7)',
 'TG(56:11)']