In [1]:
# import os
# import shutil

# # Define the source and destination directories
# source_dirs = ['5xFAD', 'WT']
# destination_dirs = {'5xFAD': '5xFAD_OFF', 'WT': 'WT_OFF'}

# # Function to move files containing 'off' in their names
# def move_files_with_off(source_dir, destination_dir):
#     if not os.path.exists(destination_dir):
#         os.makedirs(destination_dir)

#     for filename in os.listdir(source_dir):
#         if 'off' in filename.lower():
#             source_file = os.path.join(source_dir, filename)
#             destination_file = os.path.join(destination_dir, filename)
#             shutil.move(source_file, destination_file)
#             print(f"Moved '{filename}' from '{source_dir}' to '{destination_dir}'")

# # Process each source directory
# for source_dir in source_dirs:
#     move_files_with_off(source_dir, destination_dirs[source_dir])

# print("File moving process completed.")

Moved '11192023_5xFAD-m2-hippo-FAD231_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m2-cereb-FAD231_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m2-cereb-FAD257_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m2-hippo-FAD257_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m1-cereb-FAD231_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m1-hippo-FAD231_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m2-dienc-FAD231_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m2-cortex-FAD231_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m2-cortex-FAD257_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m2-dienc-FAD257_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m1-cortex-FAD249_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m1-dienc-FAD231_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m1-dienc-FAD249_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m1-cortex-FAD231_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m1-cereb-FAD249_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11192023_5xFAD-m1-hippo-FAD249_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from '5xFAD' to '5xFAD_OFF'
Moved '11162023_WT-m5-cortex-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m2-cereb-FAD246_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m5-cortex-FAD259_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m2-cortex-FAD249_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m4-cortex-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m3-cortex-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m2-dienc-FAD249_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m3-hippo-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m5-dienc-FAD259_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m4-dienc-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m3-cereb-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m1-hippo-FAD245_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m1-cereb-FAD245_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m5-dienc-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m2-hippo-FAD249_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m5-hippo-FAD259_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m3-dienc-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m1-cortex-FAD245_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m4-hippo-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m5-cereb-FAD259_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_Blank-AMP_2x_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m4-cereb-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m5-cereb-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m1-dienc-FAD245_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
Moved '11162023_WT-m5-hippo-FAD263_AMP_2x_0.05uMd216-0_MRMs_O3off_01.mzML' from 'WT' to 'WT_OFF'
File moving process completed.

# remove "" arond name

In [1]:
import pandas as pd

df = pd.read_excel('AMP_Database.xlsx')
# Remove quotation marks
df['Compound Name'] = df['Compound Name'].str.replace('"', '')
import pandas as pd

# Assuming df is your DataFrame
# Replace <br> with a space or an empty string as needed
df['Compound Name'] = df['Compound Name'].str.replace('<br>', ' ', regex=False)
import re
df['Compound Name'] = df['Compound Name'].apply(lambda x: re.sub('<.*?>', '', x))
# If you want to remove

df.to_excel('AMP_Database.xlsx', index=False)

# Display the updated DataFrame
df

,Compound Group,Compound Name,ISTD?,Parent Ion,MS1 Res,Product Ion,MS2 Res,Dwell,Fragmentor,Collision Energy,Cell Accelerator Voltage,Polarity,Class
0,NaN,24:0,False,535.4,Unit,183,Unit,25,100,0,2,Negative,FA
1,NaN,24:1,False,533.4,Unit,183,Unit,25,100,0,2,Negative,FA
2,NaN,23:0 / 24:1n-2,False,521.4,Unit,183,Unit,25,100,0,2,Negative,FA
3,NaN,22:0 / 23:1n-2 / 24:1n-3,False,507.4,Unit,183,Unit,25,100,0,2,Negative,FA
4,NaN,22:1,False,505.4,Unit,183,Unit,25,100,0,2,Negative,FA
5,NaN,22:2,False,503.4,Unit,183,Unit,25,100,0,2,Negative,FA
6,NaN,22:6,False,495.4,Unit,183,Unit,25,100,0,2,Negative,FA
7,NaN,21:0 / 22:1n-2 / 23:1n-3,False,493.4,Unit,183,Unit,25,100,0,2,Negative,FA
8,NaN,20:0 / 21:1n-2 / 22:1n-3,False,479.4,Unit,183,Unit,25,100,0,2,Negative,FA
9,NaN,20:1,False,477.4,Unit,183,Unit,25,100,0,2,Negative,FA
10,NaN,20:2,False,475.4,Unit,183,Unit,25,100,0,2,Negative,FA
11,NaN,20:3,False,473.4,Unit,183,Unit,25,100,0,2,Negative,FA
12,NaN,20:4,False,471.4,Unit,183,Unit,25,100,0,2,Negative,FA
13,NaN,"22:6 (4Z,7Z,10Z,13Z,16Z,19Z)n-3)/20:5",False,469.4,Unit,183,Unit,25,100,0,2,Negative,FA
14,NaN,20:1n-2 / 21:1n-3 / 22:1n-4..,False,465.3,Unit,183,Unit,25,100,0,2,Negative,FA
15,NaN,18:0 / 20:1n-3 / 21:1 n-4,False,451.4,Unit,183,Unit,25,100,0,2,Negative,FA
16,NaN,18:1,False,449.4,Unit,183,Unit,25,100,0,2,Negative,FA
17,NaN,"18:2 / 20:3 (11Z,14Z,17Z)n-3",False,447.4,Unit,183,Unit,25,100,0,2,Negative,FA
18,NaN,18:3,False,445.4,Unit,183,Unit,25,100,0,2,Negative,FA
19,NaN,"20:5 (5Z,8Z,11Z,14Z,17Z)n-3",False,443.3,Unit,183,Unit,25,100,0,2,Negative,FA
20,NaN,17:0 / 19:1n-3 / 20:1n-4,False,437.4,Unit,183,Unit,25,100,0,2,Negative,FA
21,NaN,"17:1 / 22:2 (13Z,16Z)n-6",False,435.4,Unit,183,Unit,25,100,0,2,Negative,FA
22,NaN,"22:6 (4Z,7Z,10Z,13Z,16Z,19Z)n-3,n-6",False,429.2,Unit,183,Unit,25,100,0,2,Negative,FA
23,NaN,d2-16:0,False,425.4,Unit,183,Unit,25,100,0,2,Negative,FA
24,NaN,16:0 / 24:1 (15Z)n-9 / 18:1n-3,False,423.3,Unit,183,Unit,25,100,0,2,Negative,FA
25,NaN,16:1,False,421.4,Unit,183,Unit,25,100,0,2,Negative,FA
26,NaN,"18:3 (9Z,12Z,15Z))n-3",False,419.3,Unit,183,Unit,25,100,0,2,Negative,FA
27,NaN,15:0 / 17:1n-3 / 18:1n-4,False,409.3,Unit,183,Unit,25,100,0,2,Negative,FA
28,NaN,"20:2 (11Z,14Z)n-6 / 20:3 (11Z,14Z,17Z)n-3,n-6 ...",False,407.3,Unit,183,Unit,25,100,0,2,Negative,FA
29,NaN,"20:3 (8Z,11Z,14Z)n-6",False,405.2,Unit,183,Unit,25,100,0,2,Negative,FA
30,NaN,"20:4 (5Z,8Z,11Z,14Z)n-6 / 20:5 (5Z,8Z,11Z,14Z,...",False,403.2,Unit,183,Unit,25,100,0,2,Negative,FA
31,NaN,"14:0 / 22:2 (13Z,16Z)n-6,n-9 / 22:1 (13Z)n-9",False,395.3,Unit,183,Unit,25,100,0,2,Negative,FA
32,NaN,14:1(9Z),False,393.4,Unit,183,Unit,25,100,0,2,Negative,FA
33,NaN,"22:6 (4Z,7Z,10Z,13Z,16Z,19Z)n-3,n-6,n-9",False,389.3,Unit,183,Unit,25,100,0,2,Negative,FA
34,NaN,13:0,False,381.3,Unit,183,Unit,25,100,0,2,Negative,FA
35,NaN,"18:2 (9Z,12Z)n-6 / 18:3 (9Z,12Z,15Z))n-3.n-6",False,379.3,Unit,183,Unit,25,100,0,2,Negative,FA
36,NaN,"18:3 (6Z,9Z,12Z))n-6",False,377.2,Unit,183,Unit,25,100,0,2,Negative,FA
37,NaN,"12:0 / 20:2 (11Z,14Z)n-6,n-9 / 20:3 (11Z,14Z,1...",False,367.3,Unit,183,Unit,25,100,0,2,Negative,FA
38,NaN,"20:3 (8Z,11Z,14Z)n-6,n-9",False,365.2,Unit,183,Unit,25,100,0,2,Negative,FA
39,NaN,"20:4 (5Z,8Z,11Z,14Z)n-6,n-9 / 20:5 (5Z,8Z,11Z,...",False,363.3,Unit,183,Unit,25,100,0,2,Negative,FA
40,NaN,11:0 / 15:1 (10Z)n-5 / 17:1 (10Z)n-7,False,353.3,Unit,183,Unit,25,100,0,2,Negative,FA
41,NaN,"22:6 (4Z,7Z,10Z,13Z,16Z,19Z)n-3,n-6,n-9,n-12",False,349.2,Unit,183,Unit,25,100,0,2,Negative,FA
42,NaN,"10:0 / 18:2 (9Z,12Z)n-6,n-9 / 14:1 (9Z)n-5 / 1...",False,339.3,Unit,183,Unit,25,100,0,2,Negative,FA
43,NaN,"18:3 (6Z,9Z,12Z))n-6,n-9",False,337.2,Unit,183,Unit,25,100,0,2,Negative,FA
44,NaN,"20:3 (8Z,11Z,14Z)n-6,n-9,n-12 / 12:1n-4 / 13:1...",False,325.2,Unit,183,Unit,25,100,0,2,Negative,FA
45,NaN,"20:5 (5Z,8Z,11Z,14Z,17Z)n-3,n-6,n-9,n-12 / 20:...",False,323.2,Unit,183,Unit,25,100,0,2,Negative,FA
46,NaN,8:0 / 12:1n-5 / ... / 18:1n-11,False,311.3,Unit,183,Unit,25,100,0,2,Negative,FA
47,NaN,"22:6 (4Z,7Z,10Z,13Z,16Z,19Z)n-3,n-6,n-9,n-12,n-15",False,309.1,Unit,183,Unit,25,100,0,2,Negative,FA
48,NaN,"18:3 (6Z,9Z,12Z))n-6,n-9,n-12 / 12:1n-6 ... / ...",False,297.2,Unit,183,Unit,25,100,0,2,Negative,FA
49,NaN,"6:0 / 20:5 (5Z,8Z,11Z,14Z,17Z)n-3,n-6,n-9,n-12...",False,283.2,Unit,183,Unit,25,100,0,2,Negative,FA
50,NaN,"22:6 (4Z,7Z,10Z,13Z,16Z,19Z)n-3,n-6,n-9,n-12,n...",False,269.1,Unit,183,Unit,25,100,0,2,Negative,FA
51,NaN,4:0 / 12:1n-9 / ... / 18:1n-15,False,255.2,Unit,183,Unit,25,100,0,2,Negative,FA
52,NaN,12:1n-10 / ... / 18:1n-16,False,241.1,Unit,183,Unit,25,100,0,2,Negative,FA
53,NaN,12:1n-11 / ... / 18:1n-17,False,227.1,Unit,183,Unit,25,100,0,2,Negative,FA
54,NaN,dummy,False,533.5,Unit,183,Unit,25,100,0,2,Negative,FA

# AMP 2 database remove duplicates

In [14]:
df = pd.read_excel('AMP_Database2.xlsx')
df = df.drop_duplicates(subset=['Compound Name'], keep='first')
df = df.sort_values(by=['Compound Name'])

import pandas as pd

# Assuming your DataFrame is named df
# You can read your DataFrame here, for example: df = pd.read_csv('your_file.csv')

# Function to check the condition in the 'Compound Name' column
def check_compound_name(name):
    parts = name.split(':')
    if len(parts) > 1 and parts[1] in ['1', '0']:
        return False
    return True

# Apply the function to filter out the rows
df = df[df['Compound Name'].apply(check_compound_name)]

# Now, filtered_df contains the DataFrame without the specified rows
# You can now use filtered_df for your further analysis or operations
#drop column Unnamed: 0
# df = df.drop(columns=['Unnamed: 0'])


df.to_excel('AMP_Database3.xlsx', index=False)
df

,Compound Group,Compound Name,ISTD?,Parent Ion,MS1 Res,Product Ion,MS2 Res,Dwell,Fragmentor,Collision Energy,Cell Accelerator Voltage,Polarity,Class
2,NaN,18:2,NaN,447.3,NaN,183,Unit,25,100,0,2,Negative,FA
3,NaN,18:3,0.0,445.4,Unit,183,Unit,25,100,0,2,Negative,FA
4,NaN,18:4,NaN,443.3,NaN,183,Unit,25,100,0,2,Negative,FA
6,NaN,20:2,0.0,475.4,Unit,183,Unit,25,100,0,2,Negative,FA
7,NaN,20:3,0.0,473.4,Unit,183,Unit,25,100,0,2,Negative,FA
8,NaN,20:4,NaN,471.3,NaN,183,Unit,25,100,0,2,Negative,FA
9,NaN,20:5,NaN,469.3,NaN,183,Unit,25,100,0,2,Negative,FA
11,NaN,22:2,0.0,503.4,Unit,183,Unit,25,100,0,2,Negative,FA
12,NaN,22:4,NaN,499.3,NaN,183,Unit,25,100,0,2,Negative,FA
13,NaN,22:5,NaN,497.3,NaN,183,Unit,25,100,0,2,Negative,FA
14,NaN,22:6,0.0,495.4,Unit,183,Unit,25,100,0,2,Negative,FA

# OzOFF vs OzON DATABASE

In [2]:
import pandas as pd

def fill_missing_values(df):
    for index, row in df.iterrows():
        if pd.notna(row['Compound Name']) and '...' in row['Compound Name']:
            start, end = row['Compound Name'].split(' / ... / ')
            start_num, start_n = start.split('n-')
            end_num, end_n = end.split('n-')
            
            start_num = int(start_num.split(':')[0])
            end_num = int(end_num.split(':')[0])
            start_n = int(start_n)
            end_n = int(end_n)
            
            missing_values = []
            for i in range(start_num + 1, end_num):
                missing_values.append(f"{i}:1n-{start_n + i - start_num}")
            
            row['Compound Name'] = ' / '.join([start] + missing_values + [end])
    
    return df

# Assuming your Excel file is named 'AMP_Database.xlsx'
df = pd.read_excel('AMP_Database.xlsx')

df = fill_missing_values(df)

print(df)

ValueError: not enough values to unpack (expected 2, got 1)

# FIND / ... / in Compound Name

In [4]:
import pandas as pd

# Assuming your Excel file is named 'AMP_Database.xlsx'
df = pd.read_excel('AMP_Database.xlsx')

for index, row in df.iterrows():
    if pd.notna(row['Compound Name']) and ' / ... / ' in row['Compound Name']:
        print(f"Row {index + 1}: {row['Compound Name']}")

Row 47: 8:0 / 12:1n-5 / ... / 18:1n-11
Row 50: 6:0 / 20:5 (5Z,8Z,11Z,14Z,17Z)n-3,n-6,n-9,n-12,n-15 / 20:4 (5Z,8Z,11Z,14Z)n-6,n-9,n-12,n-15 / 12:1n-7 / ... / 18:1n-13
Row 51: 22:6 (4Z,7Z,10Z,13Z,16Z,19Z)n-3,n-6,n-9,n-12,n-15,n-18 / 12:1n-8 / ... / 18:1n-14
Row 52: 4:0 / 12:1n-9 / ... / 18:1n-15
Row 53: 12:1n-10 / ... / 18:1n-16
Row 54: 12:1n-11 / ... / 18:1n-17

In [9]:
# def parse_and_fill_sequence(compound_name):
#     """
#     Parses the relevant sequence from a compound name and fills in the sequence based on the pattern '12:1n-x / ... / 18:1n-y'.
#     Args:
#     compound_name (str): A compound name string potentially containing multiple sequences and other text.

#     Returns:
#     str: The compound name with filled sequences.
#     """
#     # Extract the sequence that contains '12' and goes up to '18'
#     parts = compound_name.split(' / ')
#     sequence_parts = [part for part in parts if '12:' in part or '18:' in part]
#     if len(sequence_parts) < 2:
#         return compound_name  # Return original if no valid range is found

#     # Assuming the first occurrence is the start and the last is the end for simplicity
#     start = sequence_parts[0]
#     end = sequence_parts[-1]

#     # Generate the full sequence between these markers
#     filled_sequence = generate_full_sequence(f"{start} / ... / {end}")
#     new_sequence = ' / '.join(filled_sequence)

#     # Reconstruct the full compound name with the new sequence replacing the old partial one
#     start_index = compound_name.index(start)
#     end_index = compound_name.index(end) + len(end)
#     updated_compound_name = compound_name[:start_index] + new_sequence + compound_name[end_index:]

#     return updated_compound_name

# def generate_full_sequence_robust(sequence_string):
#     """
#     Generates the full sequence of compounds based on a robust parsing of patterned strings with ellipses indicating missing entries.
#     Args:
#     sequence_string (str): A string containing complex sequence information.
#     Returns:
#     list of str: List containing all compounds in the sequence including the start and end.
#     """
#     # Split around ellipses
#     parts = sequence_string.split(' / ... / ')
#     if len(parts) != 2:
#         return [sequence_string]  # Return original if format is incorrect

#     start, end = parts[0], parts[1]

#     # Find numeric part related to 'n-'
#     def parse_compound(compound):
#         if 'n-' in compound:
#             base, suffix = compound.split('n-')
#             num, fatty_acids = map(int, base.split(':'))
#             suffix = int(suffix)
#             return (num, fatty_acids, suffix)
#         else:
#             # Handle compounds without 'n-' differently
#             return None

#     start_parsed = parse_compound(start)
#     end_parsed = parse_compound(end)

#     if not start_parsed or not end_parsed:
#         return [sequence_string]  # Return original if cannot parse correctly

#     # Generate sequence
#     start_number, start_fatty_acids, start_suffix = start_parsed
#     end_number, end_fatty_acids, end_suffix = end_parsed
#     sequence = []
#     for i in range(start_number, end_number + 1):
#         new_base = f"{i}:{start_fatty_acids}n-{start_suffix + (i - start_number)}"
#         sequence.append(new_base)

#     return sequence

# def fill_ellipsis_in_dataframe_robust(data, column_name='Compound Name'):
#     """
#     Fill in sequences where ellipses (...) are found in specified column of a DataFrame, adjusting for complex and varying entries.
#     Args:
#     data (pd.DataFrame): DataFrame containing the data.
#     column_name (str): Name of the column to process.
    
#     Returns:
#     pd.DataFrame: DataFrame with sequences filled in.
#     """
#     for index, row in data.iterrows():
#         compound_name = row[column_name]
#         if '/ ... /' in compound_name:
#             filled_sequence = generate_full_sequence_robust(compound_name)
#             data.at[index, column_name] = ' / '.join(filled_sequence)

#     return data

# # Re-apply the robust function to the DataFrame
# updated_data_robust = fill_ellipsis_in_dataframe_robust(data)
# updated_data_robust[updated_data_robust['Compound Name'].astype(str).str.contains('n-')][['Compound Name']]


# data = pd.read_excel('AMP_Database.xlsx')
# # Apply this function to the rows that need it and update the DataFrame
# indices_to_update = [46, 49, 50, 51, 52, 53]  # Based on 1-indexed row numbers from your description, adjusted for 0-indexed in Python

# for index in indices_to_update:
#     if index < len(data):
#         data.at[index, 'Compound Name'] = parse_and_fill_sequence(data.at[index, 'Compound Name'])


# # Display the updated rows to verify changes
# data.loc[indices_to_update, ['Compound Name']]