In [1]:
import pandas as pd

# Read the data from the Excel file
df = pd.read_excel("AMP_Database_OzOFF.xlsx")

# Sort the DataFrame by the "Compound Name" column
df_sorted = df.sort_values("Compound Name")

# Save the sorted DataFrame as a new DataFrame
sorted_data = df_sorted.copy()

#fix the index
sorted_data.reset_index(drop=True, inplace=True)
# # save the sorted data to a new Excel file
# sorted_data.to_excel("AMP_Database_OzOFF_sorted.xlsx", index=False)

sorted_data

,Compound Group,Compound Name,ISTD?,Parent Ion,MS1 Res,Product Ion,MS2 Res,Dwell,Fragmentor,Collision Energy,Cell Accelerator Voltage,Polarity,Class
0,NaN,10:0,NaN,339.3,NaN,183,Unit,25.0,100.0,0.0,2.0,Negative,FA
1,NaN,10:1,NaN,337.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
2,NaN,10:2,NaN,335.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
3,NaN,10:3,NaN,333.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
4,NaN,10:4,NaN,331.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,NaN,9:2,NaN,321.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
154,NaN,9:3,NaN,319.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
155,NaN,9:4,NaN,317.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
156,NaN,9:5,NaN,315.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
157,NaN,d2-16:0,false,425.4,Unit,183,Unit,25.0,100.0,0.0,2.0,Negative,FA

# Sort for vlaues where we have ##:0

In [2]:
import pandas as pd

# Assuming 'sorted_data' is your initial DataFrame
def filter_compound_names_with_zero(sorted_data):
    # Copy the original DataFrame
    filtered_data = sorted_data.copy()

    # Filter the DataFrame to include only rows where the value after ':' ends with '0'
    filtered_data = filtered_data[filtered_data['Compound Name'].str.contains(r':0$')]

    return filtered_data

# Example usage
filtered_data = filter_compound_names_with_zero(sorted_data)

# Save the filtered DataFrame to a new CSV file if needed
filtered_data

,Compound Group,Compound Name,ISTD?,Parent Ion,MS1 Res,Product Ion,MS2 Res,Dwell,Fragmentor,Collision Energy,Cell Accelerator Voltage,Polarity,Class
0,NaN,10:0,NaN,339.3,NaN,183,Unit,25.0,100.0,0.0,2.0,Negative,FA
6,NaN,11:0,NaN,353.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
12,NaN,12:0,NaN,367.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
18,NaN,13:0,NaN,381.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
24,NaN,14:0,NaN,395.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
30,NaN,15:0,NaN,409.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
36,NaN,16:0,NaN,423.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
42,NaN,17:0,NaN,437.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
48,NaN,18:0,NaN,451.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
54,NaN,19:0,NaN,465.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
60,NaN,20:0,NaN,479.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
66,NaN,21:0,NaN,493.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
72,NaN,22:0,NaN,507.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
79,NaN,23:0,NaN,521.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
85,NaN,24:0,NaN,535.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
91,NaN,25:0,NaN,549.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
97,NaN,26:0,NaN,563.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
103,NaN,27:0,NaN,577.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
109,NaN,28:0,NaN,591.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
115,NaN,29:0,NaN,605.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
121,NaN,30:0,NaN,619.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
127,NaN,5:0,NaN,269.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
133,NaN,6:0,NaN,283.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
139,NaN,7:0,NaN,297.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
145,NaN,8:0,NaN,311.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
151,NaN,9:0,NaN,325.3,NaN,183,NaN,NaN,NaN,NaN,NaN,NaN,FA
157,NaN,d2-16:0,false,425.4,Unit,183,Unit,25.0,100.0,0.0,2.0,Negative,FA

# Convert to OzOn Style

In [8]:
import pandas as pd
import re

def convert_format(df):
    # Create new columns based on the existing ones and the required transformations
    df['Lipid'] = 'FA(' + df['Compound Name'] + ')'
    df['Parent_Ion'] = df['Parent Ion']
    df['Product_Ion'] = df['Product Ion']
    df['Species'] = df['Compound Name']
    df['DB Location'] = 'NaN'
    df['FA mass'] = df['Parent Ion'].astype(float) - 167.1
    df['[FA+AMP]+'] = df['Parent Ion'].astype(float) + 12.0

    # Select and reorder the columns to match the required format
    df_converted = df[['Lipid', 'Parent_Ion', 'Product_Ion', 'Species', 'Class', 'DB Location', 'FA mass', '[FA+AMP]+']]

    return df_converted


# Function to extract the carbon number and double bond count
def extract_lipid_info(lipid):
    match = re.match(r'FA\((\d+):(\d+)\)', lipid)
    if match:
        return int(match.group(1)), int(match.group(2))
    else:
        return float('inf'), float('inf')  # Return a large number to push unknown formats to the end


# Convert the DataFrame format
df_converted = convert_format(filtered_data)
df_converted = df_converted.sort_values("Lipid")

df_converted


#sort

# Apply the function to the Lipid column and create sorting keys
df_converted['carbon_number'], df_converted['double_bond'] = zip(*df_converted['Lipid'].apply(extract_lipid_info))

# Sort the DataFrame by the extracted keys
df_sorted = df_converted.sort_values(by=['carbon_number', 'double_bond']).reset_index(drop=True)

# Drop the temporary columns used for sorting
df_sorted = df_sorted.drop(columns=['carbon_number', 'double_bond'])

df_sorted.to_csv('FA_0.csv', index=False)
# Display the sorted DataFrame
df_sorted

,Lipid,Parent_Ion,Product_Ion,Species,Class,DB Location,FA mass,[FA+AMP]+
0,FA(5:0),269.3,183,5:0,FA,NaN,102.2,281.3
1,FA(6:0),283.3,183,6:0,FA,NaN,116.2,295.3
2,FA(7:0),297.3,183,7:0,FA,NaN,130.2,309.3
3,FA(8:0),311.3,183,8:0,FA,NaN,144.2,323.3
4,FA(9:0),325.3,183,9:0,FA,NaN,158.2,337.3
5,FA(10:0),339.3,183,10:0,FA,NaN,172.2,351.3
6,FA(11:0),353.3,183,11:0,FA,NaN,186.2,365.3
7,FA(12:0),367.3,183,12:0,FA,NaN,200.2,379.3
8,FA(13:0),381.3,183,13:0,FA,NaN,214.2,393.3
9,FA(14:0),395.3,183,14:0,FA,NaN,228.2,407.3
10,FA(15:0),409.3,183,15:0,FA,NaN,242.2,421.3
11,FA(16:0),423.3,183,16:0,FA,NaN,256.2,435.3
12,FA(17:0),437.3,183,17:0,FA,NaN,270.2,449.3
13,FA(18:0),451.3,183,18:0,FA,NaN,284.2,463.3
14,FA(19:0),465.3,183,19:0,FA,NaN,298.2,477.3
15,FA(20:0),479.3,183,20:0,FA,NaN,312.2,491.3
16,FA(21:0),493.3,183,21:0,FA,NaN,326.2,505.3
17,FA(22:0),507.3,183,22:0,FA,NaN,340.2,519.3
18,FA(23:0),521.3,183,23:0,FA,NaN,354.2,533.3
19,FA(24:0),535.3,183,24:0,FA,NaN,368.2,547.3
20,FA(25:0),549.3,183,25:0,FA,NaN,382.2,561.3
21,FA(26:0),563.3,183,26:0,FA,NaN,396.2,575.3
22,FA(27:0),577.3,183,27:0,FA,NaN,410.2,589.3
23,FA(28:0),591.3,183,28:0,FA,NaN,424.2,603.3
24,FA(29:0),605.3,183,29:0,FA,NaN,438.2,617.3
25,FA(30:0),619.3,183,30:0,FA,NaN,452.2,631.3
26,FA(d2-16:0),425.4,183,d2-16:0,FA,NaN,258.3,437.4