Isotope Correction Notebook

In [1]:
#Import all the necessary libraries
import pymzml
import csv
import os
import pandas as pd
import numpy as np
import math
from matplotlib import pyplot as plt
import re
import plotly.express as px
from IPython.display import Image

No module named 'ms_deisotope._c.averagine' averagine
No module named 'ms_deisotope._c.scoring'
No module named 'ms_deisotope._c.deconvoluter_base'
No module named 'ms_deisotope._c.deconvoluter_base'
No module named 'ms_deisotope._c.deconvoluter_base'

In [24]:
test = pd.read_csv('data_OzESI/isotope/isotope_csv/RT 13.2_NL271.csv', skiprows=1)

#change column X(Thomsons)) to m/z
test['m/z'] = test.loc[:,'X(Thomsons)']
test['intensity'] = test.loc[:,'Y(Counts)']
test = test.drop(['X(Thomsons)'], axis=1)
test = test.drop(['Y(Counts)'], axis=1)
test.head()

   #Point    m/z    intensity
0       0  700.0    41.899998
1       1  700.1  2612.440186
2       2  700.2  3349.796143
3       3  700.3  3049.846191
4       4  700.4  1930.580078

In [25]:
#find 874 in the m/z column
test.loc[test['m/z'] == 874]

      #Point    m/z     intensity
1740    1740  874.0  40995.167969